.text {
  position: relative;

  .is-hidden {
    opacity: 0;
  }

  .container {
    display: inline-block;
    overflow: hidden;

    span {
      display: inline-block;
      transform: translateY(100%);
      transition-delay: calc(var(--var-delay) + var(--var-stagger));
      transition-duration: var(--var-duration);
      transition-property: transform;
      transition-timing-function: ease-out;
      white-space: pre;
      will-change: transform;
    }
  }

  &.animate {
    .container {
      span {
        transform: translateY(0);
      }
    }
  }
}
