.text {
  display: block;
  overflow: hidden;
  position: relative;

  .container {
    display: flex;

    &:nth-of-type(2) {
      position: absolute;
      top: 0;
      transform: translateY(100%);
    }

    .char {
      display: inline-block;
      min-width: 0.25em;
      transition-delay: var(--var-delay-out);
      transition-duration: var(--var-duration);
      transition-property: transform;
      transition-timing-function: ease-out;
      will-change: transform;
    }
  }

  &:hover {
    .container {
      .char {
        transform: translateY(-100%);
        transition-delay: var(--var-delay-in);
      }
    }
  }
}
