.text {
  position: relative;

  .container {
    display: inline-flex;
    overflow: hidden;

    span {
      min-width: 0.25em;
      transform: translateY(100%);
      transition-delay: var(--var-delay);
      transition-duration: var(--var-duration);
      transition-property: transform;
      transition-timing-function: ease-out;
      will-change: transform;
    }
  }

  &.animate {
    .container {
      span {
        transform: translateY(0);
      }
    }
  }
}
